
<div class="_user_index site _site">
<div class="user_main">
<% if current_user.messages.count != 0 %>
<div class="aside">
<div>
<h2 class="reg_title">Messages recu</h2>
    <% current_user.messages.each do |message| %>

    <div class="user_card dispo">

    <div class="_product2">

    <div class="dispo2">
    <p>
      <strong>Email:</strong>
      <%= message.email %>
    </p>

    <p>
      <strong>Messages:</strong>
      <%= message.messages %>
    </p>
    <p>
      <strong>reception date:</strong>
      <%= message.created_at %>
    </p>

    </div>

    </div>

    </div>
    
<% end %>
    </div>
    <div class="msgenv"> 
    <% if Message.all.where(email: current_user.email).count != 0 %>
            <h2 class="reg_title">Messages envoyez</h2>

            <% Message.all.where(email: current_user.email).each do |message| %>
                  <div class="user_card dispo">

                  <div class="_product2">

                  <div class="dispo2">
                  <p>
                    <strong>Email:</strong>
                    <%= message.email %>
                  </p>

                  <p>
                    <strong>Messages:</strong>
                    <%= message.messages %>
                  </p>
                  <p>
                    <strong>À:</strong>
                    <%= User.find(message.user_id).email %>
                  </p>
                  <p>
                    <strong>reception date:</strong>
                    <%= message.created_at %>
                  </p>

                  </div>

                  </div>

                  </div>
            
    <% end %>
    <div class="_bas">

    </div>
    
    <% end %>
    </div>
  </div>
  <div class="_bas">

    </div>
<% elsif current_user.messages.count == 0 || Message.all.where(email: current_user.email).count == 0 %>
        <div class="absence _bas">Aucun message recu ou envoyez</div>
<% end %>
</div>
