<section class="reg_session">
  <div class="reg_img"></div>
  <div class="reg_box">
    <h2 class="reg_title">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :email, class:"label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, class:"label" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class:"sess_label">
          <%= f.check_box :remember_me, class:"check" %>
          <%= f.label :remember_me, class:" sess_label" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", id: "login" %>
      </div>
    <% end %>
    <%= link_to "home", "/",class:"_link"%>

    <%= render "devise/shared/links" %>
  </div>
</section>
