<div class="user_index container">
<h1 class="reg_title ">All listing</h1>
  <div class=" site _site">
  <% if @products.count != 0  %>
    <% @products.each do |product| %>
      <div class="user_main ">
          <div class="user_card dispo">


            <div class="_product">
              <% (0...product.images.count).each do |i|  %>
                <div class="img_product">
                    <%= image_tag(product.thumbnail(i))  %>
                </div>
              <% end %>
            </div>
            <div class="dispo2">
              <p>
                <strong>Price:</strong>
                <%= product.price %> $
              </p>

              <p>
                <strong>Description:</strong>
                <%= product.description %>
              </p>
              <p>
                <strong>Owner:</strong>
                <%= User.find(product.user_id).pseudo %>
              </p>
                  <% if current_user %>
                  <%= link_to 'Edit', edit_product_path(product.id), class:"_link" %> 
                  <% end %>
                  <%= link_to 'Back', '/', class:"_link Back_pos" %>
                      <td><%= link_to 'Show', product_path(product.id), class:"_link" %></td>
                  
            </div>
          </div>
      </div>
    <% end %>
</div>
<% else%>
<div class="absence">No listing</div>
<% end %>
</div>



